.Cockpit {
    text-align: center;
  }
  
  .Cockpit-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .Cockpit-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Cockpit-title {
    font-size: 1.5em;
  }
  
  .Cockpit-intro {
    font-size: large;
  }
  
  .red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  @keyframes Cockpit-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  